In [93]:
import pandas as pd
import csv


df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-04/final/ALLSalaries.csv')

print df['city'].unique()
print df.city.value_counts()

['San+Francisco' 'New+York' 'Austin' 'Seattle' 'Chicago']
Austin           2681
Chicago          1175
New+York          439
San+Francisco     405
Seattle            89
Name: city, dtype: int64

In [94]:
df['salary'] = df['parsed_salary']
df = df[[1,2,3,4,5]]

In [95]:
print "Salary Min:" , df.salary.min()
print "Salary Max:" , df.salary.max()
print "Salary Mean:" , df.salary.mean()

Salary Min: 27996.0
Salary Max: 300000.0
Salary Mean: 97316.1915849

# Response Variable 0,1

In [96]:
df['upperManagement1'] = [0 if i <= 95000  else 1 for i in df.salary]
df.head(2)

,city,company,salary,summary,title,upperManagement1
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1
1,San+Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist,1

In [117]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn import preprocessing
from sklearn import datasets, neighbors, metrics


import patsy 

X = patsy.dmatrix('city -1', df)
y = df['upperManagement1']

lm = LogisticRegression()
logit1 = lm.fit(X, y)

In [98]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, stratify = y, random_state = 44)
logit1.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [99]:
predictions = logit1.predict(X_test)
print lm.coef_

[[-1.55294795  0.11028465  1.44748119  2.75524573 -2.21659715]]

In [100]:
print "test:" , lm.score(X_test, y_test)
print "train:" , lm.score(X_train, y_train)
print "not sure:", lm.score(X, y)

test: 0.752055660974
train: 0.752493765586
not sure: 0.752349133431

In [101]:
score = cross_val_score(logit, X_test, y_test, cv = 5)
print 'not sure:', score

not sure: [ 0.75709779  0.7278481   0.74367089  0.76582278  0.76582278]

# Response Variable 0,1,2

In [102]:
df['upperManagement2'] = [0 if i <= 50000 else 2 if i > 150000 else 1 for i in df.salary]
df

,city,company,salary,summary,title,upperManagement1,upperManagement2
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2
1,San+Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist,1,2
2,San+Francisco,Mines.io,100000.0,We are looking for a data scientist/developer ...,Full-Stack Data Scientist,1,1
3,San+Francisco,Workbridge Associates,165000.0,In this position you will share programming an...,Data Scientist,1,2
4,San+Francisco,Smith Hanley Associates,140000.0,"This person will recruit, build and lead a tea...",Data Scientist,1,1
5,San+Francisco,HSF Consulting,300000.0,Teams included Data Services(including data en...,VP of Data Services,1,2
6,San+Francisco,All-In Analytics,125000.0,Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,1,1
7,San+Francisco,Brilent,130000.0,"Perform large-scale data analysis, find intere...",Senior Data Scientist,1,1
8,San+Francisco,HSF Consulting,160000.0,More data- they simply have more data than the...,Senior Data Scientist,1,2
9,San+Francisco,All-In Analytics,125000.0,Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,1,1
10,San+Francisco,Jobspring Partners,162500.0,Given the high volume of data collected by the...,Python Developer (Machine Learning),1,2
11,San+Francisco,Workbridge Associates,150000.0,"You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,1,1
12,San+Francisco,HSF Consulting,300000.0,Teams included Data Services(including data en...,VP of Data Services,1,2
13,San+Francisco,University of California Berkeley,47406.0,Demonstrated experience with programming for b...,Post-Doctoral Scholar-Employee: Analysis of om...,0,0
14,San+Francisco,Workbridge Associates,155000.0,This leading company has a job opening for Pri...,Principal Data Scientist,1,2
15,San+Francisco,Workbridge Associates,150000.0,"You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,1,1
16,San+Francisco,Workbridge Associates,140000.0,"2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),1,1
17,San+Francisco,Workbridge Associates,120000.0,Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),1,1
18,San+Francisco,Corporate Labs Technology,145000.0,"Machine Learning Developer Brisbane, CA Sign o...",Data Scientist (Machine Learning),1,1
19,San+Francisco,Brilent,150000.0,The Brilent team brings together deep experien...,Senior NLP Scientist/Engineer,1,1
20,San+Francisco,Workbridge Associates,170000.0,The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,1,2
21,San+Francisco,3coast,140000.0,VP - Predictive Modeling / Data Scientist. Han...,VP - Predictive Modeling / Data Scientist,1,1
22,San+Francisco,University of California Berkeley,74550.0,Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",0,1
23,San+Francisco,"NextGen Jane, Inc.",65000.0,Scientific Researcher – Next Gen Sequencing Sc...,Scientific Researcher,0,1
24,San+Francisco,Jobspring Partners,227500.0,This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,1,2
25,San+Francisco,Workbridge Associates,140000.0,"2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),1,1
26,San+Francisco,Workbridge Associates,120000.0,Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),1,1
27,San+Francisco,Workbridge Associates,170000.0,The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,1,2
28,San+Francisco,Talent Compliance Consulting Services,100000.0,Strong data analysis skills including setting ...,Quality Control Scientist,1,1
29,San+Francisco,California State University,55200.0,Compile and analyze data for written reports a...,"Administrative Analyst/Specialist, Exempt I - ...",0,1
...,...,...,...,...,...,...,...
4759,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4760,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4761,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4762,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4763,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4764,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4765,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4766,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4767,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4768,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4769,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4770,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4771,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4772,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4773,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4774,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4775,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4776,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4777,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4778,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4779,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4780,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4781,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4782,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4783,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4784,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4785,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4786,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4787,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1
4788,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1

In [103]:
le = preprocessing.LabelEncoder()
le.fit(df['upperManagement2'])
Y = df['upperManagement2']

In [104]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, stratify = Y, random_state = 3)

In [105]:
logit2 = lm.fit(X, Y)
logit2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [106]:
predictions1 = logit2.predict(X_test)
predictions1

array([1, 1, 1, ..., 1, 1, 1])

In [107]:
lm.score(X_test, Y_test)

0.73670886075949371

# Multinomial Logistic Regression

In [108]:
def generatePositionLevel(title):
    title = title.lower()
    if (title.find('manager',0,len(title)) >= 0) or (title.find('management',0,len(title)) >= 0) or (title.find('python',0,len(title)) >= 0) or (title.find('data scientist',0,len(title)) >= 0) or (title.find('analyst',0,len(title)) >= 0):
        return 'middle'
    elif (title.find('senior',0,len(title)) >= 0) or (title.find('machine learning',0,len(title)) >= 0) or (title.find('principal',0,len(title)) >= 0) or (title.find('chief',0,len(title)) >= 0) or (title.find('vp',0,len(title)) >= 0) or (title.find('director',0,len(title)) >= 0) or (title.find('sr',0,len(title)) >= 0):
        return 'upper'
    return 'other'
    
df['position_level'] = df['title'].apply(generatePositionLevel)
df

,city,company,salary,summary,title,upperManagement1,upperManagement2,position_level
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2,middle
1,San+Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist,1,2,middle
2,San+Francisco,Mines.io,100000.0,We are looking for a data scientist/developer ...,Full-Stack Data Scientist,1,1,middle
3,San+Francisco,Workbridge Associates,165000.0,In this position you will share programming an...,Data Scientist,1,2,middle
4,San+Francisco,Smith Hanley Associates,140000.0,"This person will recruit, build and lead a tea...",Data Scientist,1,1,middle
5,San+Francisco,HSF Consulting,300000.0,Teams included Data Services(including data en...,VP of Data Services,1,2,upper
6,San+Francisco,All-In Analytics,125000.0,Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,1,1,middle
7,San+Francisco,Brilent,130000.0,"Perform large-scale data analysis, find intere...",Senior Data Scientist,1,1,middle
8,San+Francisco,HSF Consulting,160000.0,More data- they simply have more data than the...,Senior Data Scientist,1,2,middle
9,San+Francisco,All-In Analytics,125000.0,Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,1,1,middle
10,San+Francisco,Jobspring Partners,162500.0,Given the high volume of data collected by the...,Python Developer (Machine Learning),1,2,middle
11,San+Francisco,Workbridge Associates,150000.0,"You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,1,1,upper
12,San+Francisco,HSF Consulting,300000.0,Teams included Data Services(including data en...,VP of Data Services,1,2,upper
13,San+Francisco,University of California Berkeley,47406.0,Demonstrated experience with programming for b...,Post-Doctoral Scholar-Employee: Analysis of om...,0,0,other
14,San+Francisco,Workbridge Associates,155000.0,This leading company has a job opening for Pri...,Principal Data Scientist,1,2,middle
15,San+Francisco,Workbridge Associates,150000.0,"You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,1,1,upper
16,San+Francisco,Workbridge Associates,140000.0,"2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),1,1,middle
17,San+Francisco,Workbridge Associates,120000.0,Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),1,1,middle
18,San+Francisco,Corporate Labs Technology,145000.0,"Machine Learning Developer Brisbane, CA Sign o...",Data Scientist (Machine Learning),1,1,middle
19,San+Francisco,Brilent,150000.0,The Brilent team brings together deep experien...,Senior NLP Scientist/Engineer,1,1,upper
20,San+Francisco,Workbridge Associates,170000.0,The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,1,2,middle
21,San+Francisco,3coast,140000.0,VP - Predictive Modeling / Data Scientist. Han...,VP - Predictive Modeling / Data Scientist,1,1,middle
22,San+Francisco,University of California Berkeley,74550.0,Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",0,1,other
23,San+Francisco,"NextGen Jane, Inc.",65000.0,Scientific Researcher – Next Gen Sequencing Sc...,Scientific Researcher,0,1,other
24,San+Francisco,Jobspring Partners,227500.0,This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,1,2,upper
25,San+Francisco,Workbridge Associates,140000.0,"2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),1,1,middle
26,San+Francisco,Workbridge Associates,120000.0,Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),1,1,middle
27,San+Francisco,Workbridge Associates,170000.0,The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,1,2,middle
28,San+Francisco,Talent Compliance Consulting Services,100000.0,Strong data analysis skills including setting ...,Quality Control Scientist,1,1,other
29,San+Francisco,California State University,55200.0,Compile and analyze data for written reports a...,"Administrative Analyst/Specialist, Exempt I - ...",0,1,middle
...,...,...,...,...,...,...,...,...
4759,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4760,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4761,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4762,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4763,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4764,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4765,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4766,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4767,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4768,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4769,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4770,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4771,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4772,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4773,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4774,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4775,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4776,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4777,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4778,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4779,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4780,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4781,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4782,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4783,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4784,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4785,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4786,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4787,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other
4788,Seattle,University of Washington Medical Center,61176.0,Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,0,1,other

In [109]:
Xs = patsy.dmatrix('city + position_level -1', df)
Ys = Y

In [110]:
logit2 = lm.fit(Xs, Ys)

In [111]:
Xs_train, Xs_test, Ys_train, Ys_test = train_test_split(Xs, Ys, test_size=0.33, stratify = Ys, random_state = 15)

In [112]:
logit2.fit(Xs_train, Ys_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [113]:
predictions2 = logit2.predict(Xs_test)
print predictions2

[1 1 1 ..., 1 1 1]

In [114]:
score = cross_val_score(logit2, Xs, Ys, cv = 5)
print "score:", score
print "lm score:" ,lm.score(Xs_test, Ys_test)

score: [ 0.73514077  0.73618352  0.52978056  0.35945664  0.35318704]
lm score: 0.736708860759

In [115]:
def generateSkills(jobDescription, skill):
    jobDescription = jobDescription.lower()
    skill = skill.lower()
    if jobDescription.find(skill) >= 0:
        return 1
    return 0

In [116]:
df['skill_team'] = [generateSkills(x,'team') for x in df.summary]
df['skill_experience'] = [generateSkills(x,'experience') for x in df.summary]
df['skill_1year'] = [generateSkills(x,'1+') for x in df.summary]
df['skill_2year'] = [generateSkills(x,'2+') for x in df.summary]
df['skill_3year'] = [generateSkills(x,'3+') for x in df.summary]
df['skill_data_scientist'] = [generateSkills(x,'data scientist') for x in df.summary]
df['skill_python'] = [generateSkills(x,'python') for x in df.summary]
df['skill_sql'] = [generateSkills(x,'sql') for x in df.summary]
df['skill_machine_learning'] = [generateSkills(x,'machine learning') for x in df.summary]
df['skill_engineer'] = [generateSkills(x,'engineer') for x in df.summary]
df.head(1)

,city,company,salary,summary,title,upperManagement1,upperManagement2,position_level,skill_team,skill_experience,skill_1year,skill_2year,skill_3year,skill_data_scientist,skill_python,skill_sql,skill_machine_learning,skill_engineer
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2,middle,0,0,0,0,0,0,0,1,1,0

In [118]:
Xss_train, Xss_test, Yss_train, Yss_test = train_test_split(Xs, Ys, test_size=0.33, stratify = Ys, random_state = 7)

In [120]:
knn = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
knn.fit(Xss_train, Yss_train)
print knn.predict(Xss_test)
print knn.score(Xss_test, Yss_test)

[0 1 0 ..., 0 0 0]
0.675316455696