In [1]:
import pandas as pd
import csv


df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-04/final/ALLSalaries.csv')

In [4]:
# Create a position_level column which will contain categorized data for the Title.
def generatePositionLevel(title):
    title = title.lower()
    if (title.find('manager',0,len(title)) >= 0) or (title.find('management',0,len(title)) >= 0):
        return 'manager'
    elif (title.find('senior',0,len(title)) >= 0) or (title.find('vp',0,len(title)) >= 0) or (title.find('director',0,len(title)) >= 0):
        return 'senior'
    return 'other'
    
df['position_level'] = df['title'].apply(generatePositionLevel)

,Unnamed: 0,city,company,salary,summary,title,parsed_salary,position_level
0,0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000.0,other
1,1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000.0,senior
2,2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000.0,other
3,3,San+Francisco,Workbridge Associates,"$150,000 - $180,000 a year",In this position you will share programming an...,Data Scientist,165000.0,other
4,4,San+Francisco,Smith Hanley Associates,"$140,000 a year","This person will recruit, build and lead a tea...",Data Scientist,140000.0,other
5,5,San+Francisco,HSF Consulting,"$300,000 a year",Teams included Data Services(including data en...,VP of Data Services,300000.0,senior
6,6,San+Francisco,All-In Analytics,"$100,000 - $150,000 a year",Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,125000.0,other
7,7,San+Francisco,Brilent,"$130,000 a year","Perform large-scale data analysis, find intere...",Senior Data Scientist,130000.0,senior
8,8,San+Francisco,HSF Consulting,"$160,000 a year",More data- they simply have more data than the...,Senior Data Scientist,160000.0,senior
9,9,San+Francisco,All-In Analytics,"$100,000 - $150,000 a year",Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,125000.0,other
10,10,San+Francisco,Jobspring Partners,"$150,000 - $175,000 a year",Given the high volume of data collected by the...,Python Developer (Machine Learning),162500.0,other
11,12,San+Francisco,Workbridge Associates,"$100,000 - $200,000 a year","You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,150000.0,other
12,13,San+Francisco,HSF Consulting,"$300,000 a year",Teams included Data Services(including data en...,VP of Data Services,300000.0,senior
13,14,San+Francisco,University of California Berkeley,"$43,692 - $51,120 a year",Demonstrated experience with programming for b...,Post-Doctoral Scholar-Employee: Analysis of om...,47406.0,other
14,15,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",This leading company has a job opening for Pri...,Principal Data Scientist,155000.0,other
15,16,San+Francisco,Workbridge Associates,"$100,000 - $200,000 a year","You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,150000.0,other
16,17,San+Francisco,Workbridge Associates,"$130,000 - $150,000 a year","2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),140000.0,other
17,18,San+Francisco,Workbridge Associates,"$100,000 - $140,000 a year",Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),120000.0,other
18,19,San+Francisco,Corporate Labs Technology,"$110,000 - $180,000 a year","Machine Learning Developer Brisbane, CA Sign o...",Data Scientist (Machine Learning),145000.0,other
19,20,San+Francisco,Brilent,"$150,000 a year",The Brilent team brings together deep experien...,Senior NLP Scientist/Engineer,150000.0,senior
20,21,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0,senior
21,22,San+Francisco,3coast,"$80,000 - $200,000 a year",VP - Predictive Modeling / Data Scientist. Han...,VP - Predictive Modeling / Data Scientist,140000.0,senior
22,23,San+Francisco,University of California Berkeley,"$67,500 - $81,600 a year",Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",74550.0,other
23,24,San+Francisco,"NextGen Jane, Inc.","$65,000 a year",Scientific Researcher – Next Gen Sequencing Sc...,Scientific Researcher,65000.0,other
24,25,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0,other
25,26,San+Francisco,Workbridge Associates,"$130,000 - $150,000 a year","2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),140000.0,other
26,27,San+Francisco,Workbridge Associates,"$100,000 - $140,000 a year",Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),120000.0,other
27,28,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0,senior
28,29,San+Francisco,Talent Compliance Consulting Services,"$100,000 a year",Strong data analysis skills including setting ...,Quality Control Scientist,100000.0,other
29,31,San+Francisco,California State University,"$50,400 - $60,000 a year",Compile and analyze data for written reports a...,"Administrative Analyst/Specialist, Exempt I - ...",55200.0,other
...,...,...,...,...,...,...,...,...
4759,3586,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4760,3587,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4761,3588,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4762,3589,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4763,3590,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4764,3591,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4765,3592,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4766,3593,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4767,3594,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4768,3595,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4769,3596,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4770,3597,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4771,3598,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4772,3599,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4773,3600,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4774,3601,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4775,3602,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4776,3603,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4777,3604,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4778,3605,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4779,3606,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4780,3607,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4781,3608,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4782,3609,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4783,3610,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4784,3611,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4785,3612,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4786,3613,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4787,3614,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other
4788,3615,Seattle,University of Washington Medical Center,"$4,193 - $6,003 a month",Requirements for Medical Laboratory Scientist ...,MEDICAL LABORATORY SCIENTIST-TRAINEE OR 1,61176.0,other

In [5]:
import patsy 
Xs = patsy.dmatrix('city + position_level -1', df)

In [6]:
Xs

DesignMatrix with shape (4789, 7)
  Columns:
    ['city[Austin]',
     'city[Chicago]',
     'city[New+York]',
     'city[San+Francisco]',
     'city[Seattle]',
     'position_level[T.other]',
     'position_level[T.senior]']
  Terms:
    'city' (columns 0:5), 'position_level' (columns 5:7)
  (to view full data, use np.asarray(this_obj))