In [1]:
import pandas as pd

df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-04/final/ALLSalaries.csv')

In [187]:
df.shape
df.mean()
#mean 97,316.19

Unnamed: 0        2395.813531
parsed_salary    97316.191585
dtype: float64

# What are the most used 'buzz' words in a job title?

In [37]:
#3092 mentions of "Scientist"
Scientist = df[df['title'].str.contains("Scientist")]
Scientist.shape

(3092, 7)

In [41]:
#1247 mentions of "Data"
Data = df[df['title'].str.contains("Data")]
Data.shape

(1247, 7)

In [40]:
#825 mentions of "Research"
Research = df[df['title'].str.contains("Research")]
Research.shape
#Research might need to exclude if repeated titles from University?

(825, 7)

In [38]:
#436 mentions of "Data Scientist"
DataScientist = df[df['title'].str.contains("Data Scientist")]
DataScientist.shape

(436, 7)

In [50]:
#295 mentions of "Manager"
Manager = df[df['title'].str.contains("Manager")]
Manager.shape

(395, 7)

# Least used 'buzz' words

In [58]:
Analyst = df[df['title'].str.contains("Analyst")]
Analyst.shape

(43, 7)

In [57]:
MachineLearning = df[df['title'].str.contains("Machine Learning")]
MachineLearning.shape

(13, 7)

In [51]:
VP = df[df['title'].str.contains("VP","Vice President")]
VP.shape

(10, 7)

In [52]:
Python = df[df['title'].str.contains("Python","python")]
Python.shape

(7, 7)

In [53]:
Senior = df[df['title'].str.contains("Sr","Senior")]
Senior.shape

(5, 7)

In [78]:
Junior = df[df['title'].str.contains("JR","Junior")]
Junior.shape

(2, 7)

In [82]:
FullStack = df[df['title'].str.contains("Full Stack")]
FullStack.shape

(2, 7)

# Make dictionary of all min/max/mean

In [173]:
JobTitles = {'JT-Scientist_mean' : Scientist[('parsed_salary')].mean(),
        'JT-Scientist_min' : Scientist[('parsed_salary')].min(),
        'JT-Scientist_max' : Scientist[('parsed_salary')].max(),
        'JT-Data_mean': Data[('parsed_salary')].mean(),
        'JT-Data_min': Data[('parsed_salary')].min(),
        'JT-Data_max': Data[('parsed_salary')].max(),
        'JT-Research_mean' : Research[('parsed_salary')].mean(),
        'JT-Research_min' : Research[('parsed_salary')].min(),
        'JT-Research_max' : Research[('parsed_salary')].max(),
        'JT-Data_Scientist_mean' : DataScientist[('parsed_salary')].mean(),
        'JT-Data_Scientist_min' : DataScientist[('parsed_salary')].min(),
        'JT-Data_Scientist_max' : DataScientist[('parsed_salary')].max(),
        'JT-Manager_mean' : Manager[('parsed_salary')].mean(),
        'JT-Manager_min' : Manager[('parsed_salary')].min(),
        'JT-Manager_max' : Manager[('parsed_salary')].max(),
        'JT-Analyst_mean' : Analyst[('parsed_salary')].mean(),
        'JT-Analyst_min' : Analyst[('parsed_salary')].min(),
        'JT-Analyst_max' : Analyst[('parsed_salary')].max(),        
        'JT-VP_mean' : VP[('parsed_salary')].mean(),
        'JT-VP_min' : VP[('parsed_salary')].min(),
        'JT-VP_max' : VP[('parsed_salary')].max(),
        'JT-Python_mean' : Python[('parsed_salary')].mean(),
        'JT-Python_min' : Python[('parsed_salary')].min(),
        'JT-Python_max' : Python[('parsed_salary')].max(),
        'JT-Senior_mean' : Senior[('parsed_salary')].mean(),
        'JT-Senior_min' : Senior[('parsed_salary')].min(), 
        'JT-Senior_max' : Senior[('parsed_salary')].max(),
        
        }

In [174]:
JobTitles

{'JT-Analyst_max': 250000.0,
 'JT-Analyst_mean': 89922.43023255814,
 'JT-Analyst_min': 35000.0,
 'JT-Data_Scientist_max': 225000.0,
 'JT-Data_Scientist_mean': 137568.79357798165,
 'JT-Data_Scientist_min': 75000.0,
 'JT-Data_max': 300000.0,
 'JT-Data_mean': 130361.7730553328,
 'JT-Data_min': 30000.0,
 'JT-Manager_max': 225000.0,
 'JT-Manager_mean': 83185.0835443038,
 'JT-Manager_min': 82329.0,
 'JT-Python_max': 185000.0,
 'JT-Python_mean': 136785.7142857143,
 'JT-Python_min': 120000.0,
 'JT-Research_max': 200000.0,
 'JT-Research_mean': 40515.38787878788,
 'JT-Research_min': 27996.0,
 'JT-Scientist_max': 225000.0,
 'JT-Scientist_mean': 86510.43418499353,
 'JT-Scientist_min': 27996.0,
 'JT-Senior_max': 175000.0,
 'JT-Senior_mean': 141500.0,
 'JT-Senior_min': 120000.0,
 'JT-VP_max': 300000.0,
 'JT-VP_mean': 190500.0,
 'JT-VP_min': 122500.0}

In [183]:
Titles = pd.DataFrame(JobTitles.items())
Titles.tail()

                         0              1
22          JT-Analyst_min   35000.000000
23  JT-Data_Scientist_mean  137568.793578
24             JT-Data_min   30000.000000
25         JT-Analyst_mean   89922.430233
26           JT-Python_min  120000.000000

In [186]:
import csv

Titles.to_csv('JT-min_max_mean.csv')

# Export to CSV to be used in another notebook/visualizations

In [178]:
JobTitlesMean = {'JT-Scientist_mean' : Scientist[('parsed_salary')].mean(),


        'JT-Data_mean': Data[('parsed_salary')].mean(),

        'JT-Research_mean' : Research[('parsed_salary')].mean(),
        'JT-Data_Scientist_mean' : DataScientist[('parsed_salary')].mean(),
        'JT-Manager_mean' : Manager[('parsed_salary')].mean(),
        'JT-Analyst_mean' : Analyst[('parsed_salary')].mean(),
        'JT-VP_mean' : VP[('parsed_salary')].mean(),
        'JT-Python_mean' : Python[('parsed_salary')].mean(),
        'JT-Senior_mean' : Senior[('parsed_salary')].mean(),
        
        }

In [179]:
JobTitlesMean

{'JT-Analyst_mean': 89922.43023255814,
 'JT-Data_Scientist_mean': 137568.79357798165,
 'JT-Data_mean': 130361.7730553328,
 'JT-Manager_mean': 83185.0835443038,
 'JT-Python_mean': 136785.7142857143,
 'JT-Research_mean': 40515.38787878788,
 'JT-Scientist_mean': 86510.43418499353,
 'JT-Senior_mean': 141500.0,
 'JT-VP_mean': 190500.0}

In [185]:
JT_Mean = pd.DataFrame(JobTitlesMean.items())
JT_Mean

                        0              1
0          JT-Python_mean  136785.714286
1         JT-Manager_mean   83185.083544
2        JT-Research_mean   40515.387879
3  JT-Data_Scientist_mean  137568.793578
4              JT-VP_mean  190500.000000
5       JT-Scientist_mean   86510.434185
6            JT-Data_mean  130361.773055
7         JT-Analyst_mean   89922.430233
8          JT-Senior_mean  141500.000000

In [181]:
JT_Mean.to_csv('JT-Mean.csv')

In [ ]:
# 9 Descriptive words for Job Titles